* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    text-align: center;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    border-bottom: 2px solid black;
    
}

.project-card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    padding: 1px;
    margin: 20px;
}

.project-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.project-card h3 {
    font-size: 1.5rem;
}

footer {
    display: flex;
    
    border-top: 2px solid black;
}

h1 {
    margin-bottom: 100px;
}

