* {
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: grey;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

nav {
    border-bottom: 2px solid black;
}

footer {
    border-top: 2px solid black;
    
}