* {
    box-sizing: border-box;
    margin: 0;
}

body {
   text-align: center;
   
    
}

.containter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container>img {
    width: 25%
}

.carousel-container {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
}

.carousel-images img {
    width: 600px;
    height: 450px;
    border-radius: 10px;
    display: none;
}

.carousel-images img:first-of-type {
    display: block;
}


.carousel-button {
    background-color:darkslategrey;
    align-self: center;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px rgb(9, 9, 9);
}

.carousel-button:hover {
    cursor: pointer;
    background: white;

}

footer {
    margin-top: 260px;
    justify-content: center;
    align-content: center;
    /* margin-right: 25px;
    margin-left: 25px; */
}

h1 {
    margin-top: 40px;
}

p {
    margin-top: 10px;
}